*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #ffffff;

}
#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/linkedInDP-modified\ \(1\).png);
    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 10%;
    }
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block; 
   list-style: none;
   margin: 10px 20px;

}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height:3px;
    background: #15e8dd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after {
width: 100%;

}
.header-text{
   margin-top: 20%;
   font-size: 30px; 
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
color: #19b4c2;
}
/*....about............*/
#about{
    padding: 80px 0px;
    color:#ababab;
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    }
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
        width:100%;
        border-radius:15px;
   }
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #ffffff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;

}
.tab-links::after{
    content:'';
    width: 0;
    height:3px;
    background: #11d8d8;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
list-style: none;
margin:10px 0;
}
.tab-contents ul li span{
    color: #1ccfa5;
    font-size: 14px;
    font-weight: 700;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ....... Styling the Services section starts below.........*/
#services{
    padding: 30px 0; /*30pixels top and bottom, then left and right is 0*/
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap:40px;
    margin-top: 50px;
}

/*Styling the services list*/
.services-list div{
    background: #262626;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: linear-gradient(rgba(234, 147, 147, 0.6), #1ccfa5); 
  transform: translateY(-10px);
}

/* styling the div id 'portfolio' which has my work samples;;;the styling starts below*/
#portfolio{
    padding: 50px 0;  /* 50px from top&bottom and 0 left&right*/
}
/*styling the work-list div class*/
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap:40px;
    margin-top: 50px;
}
/*styling the work div class*/
.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
/*styling images in the work div class*/
.work img{
    width:100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    width: 100%;
    height:0%;
    background: linear-gradient(rgba(0,0,0,0.6), #1ccfa5);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: blue;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}


/* Below I'm Styling the See More button which i took from cssbuttons.app website*/
.bn632-hover {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 50px;
  display: block;
  color: #ffffff;
  cursor: pointer;
  margin: 10px auto;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn23 {
  background-image: linear-gradient(
    to right,
    #009245,
    #21fccd,
    #00a8c5,
    #e06421
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

/* End of Styling the See More button which i took from cssbuttons.app website*/

/* Now styling my contact-me part below*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}
/*styling the icons*/
.contact-left p i{
    color:#00fff7;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
    margin-bottom: 20px;
}
.social-icons a{ 
    margin-right: 15px;
    font-size: 30px;
    color: #65d0e1;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#1212f4;
    transform: translateY(-5px);

}
/*styling the download cv button, still using the previous effects and stylings of See More Samples part*/
/*button from cssbuttons.app*/
.bn5 {
    margin-top: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #0a814f;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*End of download button from cssbuttons.app*/